<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Wanderfal Otter Blog</h1>
        <nav class=''>
          <!-- <span><a href="/">Home</a></span> -->
          <span><%= link_to('Home', '/')%></span>
          <span><a href="https://github.com/nyc-otters-2017">Otter's Organization</a></span>
        </nav>
    </header>
    <%= yield %>
  </body>
</html>
